.dados_brutos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}

.data_item {
  border: 1px solid lightblue;
  border-radius: 10px;
  margin-right: 1px;
  margin-left: 1px;
  transition: .7s;
}

h3 {
  margin-right: 10px;
  margin-left: 10px;
}

.model_3d {
  border: 1px solid lightblue;
  border-radius: 10px;
}
